{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "settings": {
    "import/resolver": {
      "node": {},
      "webpack": {
        "config": "webpack.config.dev.js"
      }
    }
  },
  "rules": {
    "global-require": "off",
    "no-await-in-loop": "off",
    "no-loop-func": "off",
    "no-restricted-syntax": "off",
    "no-continue": "off"
  }
}
